<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="d-flex justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Manga List</h2>
      <div class="d-inline-block">
        <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="model" [ngbTypeahead]="search"
          [inputFormatter]="formatter" [resultFormatter]="formatter" [selectOnExact]="true" />
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Sort By
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="sortBy('New')">Sort By Newest</button>
          <button ngbDropdownItem (click)="sortBy('Old')">Sory By Oldest</button>
          <button ngbDropdownItem (click)="sortBy('No')">Sort By No</button>
          <button ngbDropdownItem (click)="sortBy('LastUpdated')">Sort By LastUpdated</button>
          <button ngbDropdownItem (click)="sortBy('startDated')">Sort By StartUpdated</button>
        </div>
      </div>
    </div>
    @if (model && model.name) {
    <!-- <pre>Model: {{ model | json }}</pre> -->
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative p-1 "
        [ngClass]="[(model.status === 'Finished' ? 'border-solid border-green-500 border-4 rounded-md' : 'border-solid border-inherit border-2 rounded-md')]">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img [src]="model.imgUrl" alt="Front of men&#039;s Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-md text-gray-700">
              <!-- <span aria-hidden="true" class="absolute inset-0"></span> -->
              {{model.name}} @if (model.type === 'Manga') {(MG)} @else {
              (LN)
              }
            </h3>
            <p class="mt-1 text-sm text-gray-500">Licence: {{model.licence}}</p>
            <p class="mt-1 text-sm text-gray-500">Status: {{model.status}} ({{model.totalVol}})</p>
            <p class="mt-1 text-sm text-gray-500">startDate : {{model.startDate}}</p>
            <p class="mt-1 text-sm text-gray-500">LastUpdated : {{model.lastUpDate}}</p>
          </div>
          <!-- <p class="text-sm font-medium text-gray-900">Finished</p> -->
        </div>
      </div>
    </div>

    } @else {
    <ngb-pagination class="d-flex justify-content-end mt-6" [collectionSize]="mangaList().length" [(page)]="page"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="20" />
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

      @for (item of mangaList() | slice: (page-1) * 20 : page * 20; track item.no) {
      <div class="group relative p-1 "
        [ngClass]="[(item.status === 'Finished' ? 'border-solid border-green-500 border-4 rounded-md' : 'border-solid border-inherit border-2 rounded-md')]">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img [src]="item.imgUrl" alt="Manga Img Url"
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-md text-gray-700">
              <!-- <span aria-hidden="true" class="absolute inset-0"></span> -->
              {{item.name}} @if (item.type === 'Manga') {(MG)} @else {
              (LN)
              }
            </h3>
            <p class="mt-1 text-sm text-gray-500">Licence: {{item.licence}}</p>
            <p class="mt-1 text-sm text-gray-500">Status: {{item.status}} ({{item.totalVol}})</p>
            <p class="mt-1 text-sm text-gray-500">startDate : {{item.startDate}}</p>
            <p class="mt-1 text-sm text-gray-500">LastUpdated : {{item.lastUpDate}}</p>
          </div>
          <!-- <p class="text-sm font-medium text-gray-900">Finished</p> -->
        </div>
      </div>
      }

      @if ( mangaList().length === 0){
      @for (item of [].constructor( 20 ) ; let idx = $index; track idx) {
      <div class="animate-pulse flex space-x-4">
        <div class="h-96 w-64 bg-slate-300 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        </div>
      </div>
      }
      }
    </div>
    <ngb-pagination class="d-flex justify-content-end mt-6" [collectionSize]="mangaList().length" [(page)]="page"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="20" />
    }


  </div>
</div>
