.review-card {
  border-color: #e5e7eb;
}

table th:last-child,
table td:last-child {
  min-width: 350px;
}

table th:first-child,
table td:first-child {
  min-width: 110px;
  width: 110px;
}

.plamo-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}
