<div class="space-y-12">

  <div class="border-b border-gray-900/10 pb-12">

    <h2 class="text-base font-semibold leading-7 text-gray-900">ADD/UPDATE COLLECTION LIST</h2>
    <!-- <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p> -->

    <!-- <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"> -->
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="mangaName" class="block text-sm font-medium leading-6 text-gray-900">Manga Name</label>
        <div class="mt-2">
          <!-- <select id="mangaName" name="mangaName" autocomplete="manga-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900
               shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset 
               focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6
               " (change)="onSelectManga($event)">
              <option value="" selected disabled>Select a Manga To Update</option>
              @for (item of mangaList; track $index) {
              <option [value]="$index">{{item.name}}</option>
              }
            </select> -->

          <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="model"
            [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [selectOnExact]="true"
            (selectItem)="onSelectManga($event)" />

        </div>
      </div>
    </div>
    <!-- </div> -->

    <form [formGroup]="listForm">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 sm:col-start-1">
          <label for="city" class="block text-sm font-medium leading-6 text-gray-900">name</label>
          <div class="mt-2">
            <input formControlName="name" type="text" name="city" id="city" autocomplete="address-level2"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="region" class="block text-sm font-medium leading-6 text-gray-900">licence</label>
          <div class="mt-2">
            <input formControlName="licence" type="text" name="region" id="region" autocomplete="address-level1"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="Type" class="block text-sm font-medium leading-6 text-gray-900">Type</label>
          <div class="mt-2">
            <input formControlName="type" type="text" name="Type" id="Type"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">startDate</label>
          <div class="mt-2">
            <input formControlName="startDate" type="text" name="postal-code" id="postal-code"
              autocomplete="postal-code"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>


        <div class="sm:col-span-2 ">
          <label for="city" class="block text-sm font-medium leading-6 text-gray-900">lastUpdate</label>
          <div class="mt-2">
            <input formControlName="lastUpDate" type="text" name="city" id="city" autocomplete="address-level2"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>


        <div class="sm:col-span-2">
          <label for="totalVol" class="block text-sm font-medium leading-6 text-gray-900">totalVol</label>
          <div class="mt-2">
            <input formControlName="totalVol" type="text" name="totalVol" id="totalVol"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="ImageUrl" class="block text-sm font-medium leading-6 text-gray-900">ImageUrl</label>
          <div class="mt-2">
            <input formControlName="imgUrl" type="text" name="ImageUrl" id="ImageUrl"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="status" class="block text-sm font-medium leading-6 text-gray-900">Status</label>
          <div class="mt-2">
            <select id="status" name="status" autocomplete="status" class="block w-full rounded-md border-0 py-1.5 text-gray-900
               shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset 
               focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6
               " formControlName="status">
              <option value="" selected disabled>Select a Status</option>
              <option value="In Progress">In Progress</option>
              <option value="Finished">Finished</option>
              <option value="Dropped">Dropped</option>
            </select>
          </div>
        </div>
      </div>
    </form>

  </div>

</div>

<div class="mt-6 flex items-center justify-end gap-x-6">
  <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
  <button type="button"
    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    [disabled]="isLoadingValue"
    (click)="onSubmit()">Save</button>
</div>

@if(isLoadingValue){
<div class="loading-screen">
  <div class="flex space-x-5">
    <span class="relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </span>
    <span class="relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </span>
    <span class="relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </span>
  </div>
</div>
}
